@media (min-width:375px) and (max-width:767px) {
    .center {
        padding-left: 16px;
        padding-right: 17px; 
    } 

    .header {
        padding-left: 58px;
        padding-right: 56px;  
        overflow-x: hidden;
    }

    .games__container {
        display: none;
    }

    .header__house {
        width: 262px;
        font-size: 40px;
        font-weight: 700;
        line-height: 49px;
        text-align: center;
        padding-top: 147px;
    }

    .header__text {
        width: 296px;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
    }

    .header__text_weight {
        color: #202027;
        font-family: Montserrat;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    .header__button {
        display: inline-block;
        width: 285px;
        height: 55px;
        border: 1px solid rgb(32, 32, 39);
        border-radius: 60px;
        background: rgb(32, 32, 39);
        color: #FFFFFF;
        font-size: 16px;
        font-weight: 600;
        text-align: center;
        margin-top: 36px;
        margin-bottom: 131px;
        font-family: "Montserrat";
        line-height: 55px;
    }

    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
        background-image: url(img/Vector.svg),
            url(img/mStar1.png),
            url(img/mStar2.png),
            url(img/mStar3.png),
            url(img/mStar4.png);
        background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
        background-size: 85%, 21px, 35px, 18px, 40px;
        background-position: 190px -120px,
            91px 64px,
            37px 97px,
            272px 557px,
            303px 580px;
    }

    .scrollbar-box {
        padding-top: 16px;
        padding-bottom: 16px;
        padding-left: 24px;
        padding-right: 24px;         
    }

    .scrollbar-label {
        background-image: url(img/Starbig.png);
            background-repeat: no-repeat;
            background-size: 19px;
            background-position: right;
    }

    .scrollbar-label {
        color: black;
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 700;
        line-height: 110%;
        text-align: left;
        text-transform: uppercase;
        padding-right: 47px;
    }

    .scrollbar__star {
        width: 19.339px;
        height: 19.339px;
    }

    .games {
        color: #FFF;
        font-family: Montserrat;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: normal; 
        padding-top: 48px;
    }

    .games__text {
        color: #FFF;
        font-family: Montserrat;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

    }

    .game-cards {
        
        max-width: 1200px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 32px;
        align-items: start;
    }

    .game-card--top {
        margin-top: 0px;
    }

   

    .minigames {
        margin-top: 48px;
        padding-bottom: 49px;
    

        &__box {
            gap: 24px;
            align-items: center;
        }

        &__heading {
            color: rgb(255, 255, 255);
            font-family: Montserrat;
            font-size: 40px;
            font-weight: 700;
            line-height: 49px;
            letter-spacing: 0px;
            text-align: left;
            margin-bottom: 48px;
        }
    }

    .minigame {
            width: 343px;
            display: flex;
            flex-direction: column;
            border-radius: 30px;
        

        &__img {
            width: 343px;
            border-radius: 30px;
        }

        &__content {
            width: 343px;
            padding: 29px 29px 32px 29px;
        }

        &__content-label {
            font-size: 32px;
            font-weight: 700;
            line-height: 39px;
            text-align: left;
            padding-bottom: 16px;
        }

        &__content-button {
            width: 285px;
            font-size: 1rem;
        }

        &__text_altered {
            width: 285px;
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: 0px;
            text-align: left;
            padding-bottom: 32px;
        }

    }

    .footer {
        height: 100px;
    }

    .footer__text {
        font-size: 1rem;
        font-weight: 600;
        line-height: 20px;
        padding-top: 40px;
        padding-bottom: 40px;
    }


    

    // .games__container {
    //     display: flex;
    //     flex-direction: column;
    //     align-items: flex-start;
    //     gap: 24px;
    //     align-self: stretch;
    //     background: #202027;
    //     background-image: url("img/Star1.svg"), url("img/Star11.svg"), url("img/Star12.svg");
    //     background-position: calc(100% + 91px) 24px, calc(100% + -1355px) 700px, calc(100% + -1322px) 754px;
    //     background-repeat: no-repeat;
    // } 
    
}        