* {
  margin: 0px;
  padding: 0px;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  background-color: #202027;
}

button {
  cursor: pointer;
}

.header {
  background: #E1FF8F;
  background-image: url(img/star1.png), url(img/star2.png), url(img/starbig.svg);
  background-position: 63px 69px, calc(100% - 344px) calc(100% - 149px), 230% -330px;
  background-repeat: no-repeat;
  overflow: hidden;
}

.header__house {
  color: #202027;
  font-family: Montserrat;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  max-width: 769px;
  max-height: 358px;
  padding-top: 196px;
}

.header__text {
  color: #202027;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  padding-top: 24px;
  max-width: 720px;
}

.header__text_weight {
  color: #202027;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}

.header__button {
  display: inline-block;
  width: 247px;
  height: 66px;
  border: 1px solid rgb(32, 32, 39);
  border-radius: 60px;
  background: rgb(32, 32, 39);
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  margin-top: 48px;
  margin-bottom: 156px;
  font-family: "Montserrat";
  line-height: 62px;
}

.header__button:hover {
  color: #000000;
  background-color: #F7F6F6;
  transition: background-color 1s;
}

.scrollbar {
  width: 3220px;
  height: 90px;
  display: flex;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  background: rgb(188, 236, 48);
}

.scrollbar__text {
  font-family: "Montserrat";
  color: rgb(32, 32, 39);
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  padding-right: 51px;
  padding-left: 51px;
}

.games__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
  background: #202027;
  background-image: url("img/Star1.svg"), url("img/Star11.svg"), url("img/Star12.svg");
  background-position: calc(100% + 91px) 24px, calc(100% - 1355px) 700px, calc(100% - 1322px) 754px;
  background-repeat: no-repeat;
}

.games {
  color: #FFF;
  font-family: Montserrat;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-top: 94px;
  box-sizing: border-box;
}

.games__text {
  color: #FFF;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  max-width: 788px;
}

.game-cards {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 32px;
  align-items: start;
}

.game-card {
  display: flex;
  flex-direction: column;
  grid-column: span 4;
  background-color: #FFFFFF;
  border-radius: 30px;
}

.game-card__image {
  border-radius: 30px;
  height: 314px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.game-card--top {
  margin-top: -40px;
}

.game-card__image_type_1 {
  background-image: url(img/card1.svg);
}

.game-card__image_type_2 {
  background-image: url(img/card2.svg);
}

.game-card__image_type_3 {
  background-image: url(img/card3.svg);
}

.game-card__image_type_4 {
  background-image: url(img/card4.png);
}

.game-card__image_type_5 {
  background-image: url(img/card5.svg);
}

.game-card__image_type_6 {
  background-image: url(img/card6.svg);
}

.stone {
  position: absolute;
}

.game-card__number {
  width: 111px;
  height: 36px;
  color: rgb(32, 32, 39);
  font-size: 16px;
  font-weight: 500;
  border-radius: 52.58px;
  background: rgb(247, 247, 247);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 13px;
  margin-left: 32px;
  margin-bottom: 10px;
}

.game-card__text {
  color: rgb(32, 32, 39);
  font-size: 32px;
  font-weight: 700;
  text-align: left;
  padding: 0 38px 32px;
}

.game-card {
  transition: all 1s;
}

.game-card:hover {
  transform: scale(1.1);
}

.minigames {
  margin-top: 46px;
  padding-bottom: 144px;
  background-image: url(./images/Star7.png), url(./images/Star7.png), url(./images/Star8.png), url(./images/Star9.png);
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-size: 35px, 69px, 41px, 69px;
  background-position: 1277px 50px, 1320px 86px, 1245px 3350px, 1320px 3300px;
}
.minigames__heading {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 72px;
}
.minigames__box {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.minigame {
  width: 1200px;
  background-color: #ffffff;
  border-radius: 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row-reverse;
}
.minigame__img {
  width: 600px;
  border-radius: 30px;
}
.minigame_altered {
  display: flex;
  flex-direction: row;
}
.minigame__content {
  width: 600px;
  padding: 48px;
  box-sizing: border-box;
}
.minigame__content-label {
  color: #202027;
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 700;
  line-height: 59px;
  letter-spacing: 0px;
  text-align: left;
  padding-bottom: 24px;
}
.minigame__text {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  width: 788px;
}
.minigame__text_altered {
  color: #202027;
  width: 497px;
  padding-bottom: 36px;
}
.minigame__content-button {
  width: 247px;
  border-radius: 60px;
  background-color: #202027;
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: Montserrat;
  padding-top: 16px;
  padding-bottom: 16px;
  transition: 1.5s;
  cursor: pointer;
  border: 0.5px solid #202027;
}
.minigame__content-button:hover {
  color: #202027;
  background-color: #ffffff;
}

.footer {
  background: rgb(189, 237, 53);
  height: 150px;
}

.footer__text {
  color: #000;
  text-align: center;
  font-family: Montserrat;
  font-style: normal;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  text-align: center;
  padding-top: 61px;
}

@media (max-width: 425px) {
  .center {
    padding-left: 16px;
    padding-right: 17px;
  }
  .header {
    padding-left: 58px;
    padding-right: 56px;
    overflow-x: hidden;
  }
  .games__container {
    display: none;
  }
  .header__house {
    color: #202027;
    text-align: center;
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .header__text {
    color: #202027;
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    max-width: 296px;
  }
  .header__text_weight {
    color: #202027;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .header__button {
    display: inline-block;
    width: 285px;
    height: 55px;
    border: 1px solid rgb(32, 32, 39);
    border-radius: 60px;
    background: rgb(32, 32, 39);
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    margin-top: 36px;
    margin-bottom: 131px;
    font-family: "Montserrat";
    line-height: 55px;
  }
  .header {
    background: #E1FF8F;
    background-image: url(img/star1.png), url(img/star2.png), url(img/Vectormob.svg);
    background-position: 63px 69px, calc(100% - 344px) calc(100% - 149px), 100% 0px;
    background-repeat: no-repeat;
    overflow: hidden;
  }
  .scrollbar {
    max-height: 87px;
    overflow-x: hidden;
  }
  .scrollbar__text {
    font-family: "Montserrat";
    color: rgb(32, 32, 39);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    text-transform: uppercase;
    padding-right: 27px;
    padding-left: 27px;
  }
  .scrollbar__star {
    width: 19.339px;
    height: 19.339px;
  }
  .games {
    color: #FFF;
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 48px;
  }
  .games__text {
    color: #FFF;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .game-cards {
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 32px;
    align-items: start;
  }
  .game-card--top {
    margin-top: 0px;
  }
  .minigames {
    margin-top: 48px;
    padding-bottom: 49px;
  }
  .minigames__box {
    gap: 24px;
    align-items: center;
  }
  .minigames__heading {
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 700;
    line-height: 49px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 48px;
  }
  .minigame {
    width: 343px;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
  }
  .minigame__img {
    width: 343px;
    border-radius: 30px;
  }
  .minigame__content {
    width: 343px;
    padding: 29px 29px 32px 29px;
  }
  .minigame__content-label {
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    text-align: left;
    padding-bottom: 16px;
  }
  .minigame__content-button {
    width: 285px;
    font-size: 1rem;
  }
  .minigame__text_altered {
    width: 285px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    padding-bottom: 32px;
  }
}/*# sourceMappingURL=style.css.map */